.mainCard {
  width: 100%;
  background-color: #cacaca;
  padding: 1.5rem;
  border-radius: 1rem;
  transition: all 0.4s;
  height: 110%;
  /* margin-top: 1rem; */
}

.mainCard:hover {
  transform: translateY(-0.5rem);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gapper {
  display: flex;
  height: 95%;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  width: 7rem;
  height: 7rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.gapper p {
  height: 10rem;
}

.headerFlag {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  height: 1rem;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}
