.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 1rem;
  color: white;
}

.left img {
  border-radius: 1rem;
  width: 90%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: -0.75rem;
}

.right h1 {
  font-size: 2rem;
}
